package base 

import "fmt"

templ ModalOnce(hidden bool, elementID string, body templ.Component) {
	<div
		id={ elementID }
		class={ fmt.Sprintf("fixed inset-0 z-48 %s flex-col items-center bg-gray-9/50 transition duration-150 ease-in-out", hide(hidden)) }
		_="on toggleModal toggle .flex .hidden then remove <div/> in me"
	>
		<div class="-z-1 absolute inset-0" _="on click trigger toggleModal"></div>
		@body
	</div>
}
