{{define "home" -}}
<div class="flex flex-col items-center gap-4">
    <a class="no-underline hover:underline" href="/access_control/permissions" hx-trigger="click" hx-get="/access_control/permissions" hx-target="main"
        hx-push-url="/access_control/permissions">Permissions</a>
    <a class="no-underline hover:underline" href="/link2" hx-trigger="click" hx-get="/link2" hx-target="main"
        hx-push-url="link2">Link 2</a>
    <a class="no-underline hover:underline" href="/link3" hx-trigger="click" hx-get="/link3" hx-target="main"
        hx-push-url="link3">Link 3</a>
</div>
{{- end}}