package widget

import "fmt"

func flexOrHidden(hidden bool) string {
	if hidden {
		return "hidden"
	}
	return "flex"
}

script toggleVisibility(id string) {
	event.stopPropagation();
	const el = closestElement(event.target, "#"+id);
	toggleClasses(el, ['hidden','flex'])
}

templ Modal(hidden bool, elementID string, body templ.Component) {
	<div
		id={ elementID }
		class={ fmt.Sprintf("fixed inset-0 z-48 flex-col items-center bg-gray-9/50 transition duration-1000 ease-in-out %s", flexOrHidden(hidden)) }
		hx-on:toggle-modal={ toggleVisibility(elementID) }
	>
		<div class="-z-1 absolute inset-0" onclick={ toggleVisibility(elementID) }></div>
		@body
	</div>
}
