{{- define "delete_permission_modal" -}}
<div class="-z-1 absolute inset-0" _="on click trigger toggleModal"></div>
<div class="-translate-y-50% relative top-50% w-75% rounded-lg bg-amber-1 p-4">
  <h3>Delete Permission</h3>
  <div
    id="delete-permission-confirm"
    class="flex flex-col gap-4"
    _="on setPermission(permission)
    log permission then
    put `Delete ${permission.Name}?` into the first <p/> in me then
    set local idToDelete to permission.ID then log `${idToDelete}`"
  >
    <p>??</p>
    <div class="flex justify-end gap-4 py-2">
      <button
        _="on click trigger toggleModal"
        type="button"
        class="rounded-lg border-none bg-transparent p-2 font-semibold text-amber-7 hover:bg-amber-7 hover:text-white active:bg-amber-6 hover:border-transparent"
      >
        <div>Cancel</div>
      </button>
      <button
        id="delete-permission-confirm-button"
        type="button"
        class="border-2 border-red-7 rounded-lg border-solid bg-transparent p-2 font-semibold text-red-7 hover:bg-red-7 hover:text-white active:bg-red-6 hover:border-transparent"
      >
        <div>Delete</div>
      </button>
    </div>
  </div>
</div>
{{- end -}}
