{{- define "permission_form" -}}
<form
  hx-post="/access_control/permissions"
  hx-target="#permission-list"
  hx-swap="afterbegin"
  _="on htmx:afterOnLoad trigger toggleModal reset() me"
  class="flex flex-col gap-4"
>
  <div class="flex flex-col">
    <label for="permission" class="mb-2 block text-sm text-amber-9">Permission</label>
    <input
      type="text"
      id="permission"
      name="name"
      class="border rounded-lg border-solid px-4 py-2 focus:border-none focus:outline-none focus:ring-2 focus:ring-cyan-500"
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="description" class="mb-2 block text-sm text-amber-9">Description</label>
    <input
      type="text"
      id="description"
      name="description"
      class="border rounded-lg border-solid px-4 py-2 focus:border-none focus:outline-none focus:ring-2 focus:ring-cyan-500"
      required
    />
  </div>
  <div class="flex justify-end gap-4 py-2">
    <button
      _="on click reset() the closest <form/> then trigger toggleModal"
      type="button"
      class="rounded-lg border-none bg-transparent p-2 font-semibold text-amber-7 hover:bg-amber-7 hover:text-white active:bg-amber-6 hover:border-transparent"
    >
      <div>Cancel</div>
    </button>
    <button
      type="submit"
      class="border-2 border-emerald-7 rounded-lg border-solid bg-transparent p-2 font-semibold text-emerald-7 hover:bg-emerald-7 hover:text-white active:bg-emerald-6 hover:border-transparent"
    >
      <div>Submit</div>
    </button>
  </div>
</form>
{{- end -}}
