{{- define "permission_row" -}}
<div
  class="flex flex-col pt-4 pb-6 px-6 hover:shadow-lg bg-amber-1 gap-4 transition duration-150 ease-in-out"
>
  <div class="text-xl font-extrabold">{{.Name}}</div>
  <div class="flex items-center gap-2">
    <div class="i-tabler-file-description h-5 w-5"></div>
    {{.Description}}
  </div>
  <div class="flex gap-4">
    <button
      type="button"
      class="bg-transparent hover:bg-amber-8 text-amber-8 border-2 border-solid border-amber-8 font-semibold hover:text-white p-2 active:bg-amber-7  hover:border-transparent rounded-lg"
    >
      <div class="i-tabler-edit w-4 h-4"></div>
    </button>
    <button
      type="button"
      class="bg-transparent hover:bg-amber-8 text-amber-8 border-2 border-solid border-amber-8 font-semibold hover:text-white p-2 active:bg-amber-7  hover:border-transparent rounded-lg"
    >
      <div class="i-tabler-trash w-4 h-4"></div>
    </button>
  </div>
</div>
{{- end -}}
