{{- define "permission_row" -}}
<div
  class="flex flex-col gap-4 bg-amber-1 px-6 pb-6 pt-4 transition duration-150 ease-in-out hover:shadow-lg"
>
  <div class="font-extrabold text-xl">{{.Name}}</div>
  <div class="flex items-center gap-2">
    <div class="w-5 h-5 i-tabler-file-description"></div>
    {{.Description}}
  </div>
  <div class="flex gap-4">
    <button
      type="button"
      class="border-amber-8 border-2 rounded-lg border-solid bg-transparent p-2 font-semibold text-amber-8 hover:bg-amber-8 hover:text-white active:bg-amber-7 hover:border-transparent"
    >
      <div class="h-4 w-4 i-tabler-edit"></div>
    </button>
    <button
      type="button"
      class="border-amber-8 border-2 rounded-lg border-solid bg-transparent p-2 font-semibold text-amber-8 hover:bg-amber-8 hover:text-white active:bg-amber-7 hover:border-transparent"
    >
      <div class="h-4 w-4 i-tabler-trash"></div>
    </button>
  </div>
</div>
{{- end -}}
